<h1>Dashboard</h1>

<p>+=+=+=+=+=+=+=</p>

<%@blogposts.each do |blogpost|%>
<table class="table table-hover table-condensed">
	<td><b><%=blogpost.user.user_name%></b><br>
	<%=blogpost.content%><br><font size = 1><a href=/dashboard/main/?blogpost_id=<%=blogpost.id%>>Comment (<%="#{blogpost.comment_count}"%>)
	<% if current_user.id == blogpost.user_id%>
		<%= link_to 'Edit', edit_blogpost_path(blogpost) %>
	<%else%>

	<%end%>

</font></td>
</table>
<%end%>
