<center><h2>Edit <%= resource_name.to_s.humanize %></h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="left"><%= f.label :user_name %></div><div class="right"><%= f.text_field :user_name, autofocus: true %></div><br>

  <div class="left"><%= f.label :first_name %></div><div class="right"><%= f.text_field :first_name, autofocus: true %></div><br>

  <div class="left"><%= f.label :last_name %></div><div class="right"><%= f.text_field :last_name, autofocus: true %></div><br>

  <div class="left"><%= f.label :email %></div><div class="right"><%= f.email_field :email, autofocus: true %></div><br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="left">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br / >
  <% end %>

  <div class="left"><%= f.label :new_password %></div><div class="right"><%= f.password_field :password, autocomplete: "off" %></div><br />


  <div class="left"><%= f.label :password_confirmation %></div><div class="right"><%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

  <div class="left"><%= f.label :current_password %></div><div class="right"><%= f.password_field :current_password, autocomplete: "off" %></div><br /><br />

  <div class="center"><center><%= f.submit "Update" %></center></div><br />
<% end %>
<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-->
<div class="center"><center><%= link_to "Back", dashboard_index_path %></center></div>
