<!DOCTYPE html>
<html>
<head>
  <title>Vanilla Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




<link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
    
<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
      <a class="navbar-brand" href="/dashboard/index/">
        <%=image_tag("icecream.gif")%>Vanilla Blog</a>
      <% else %>
            <a class="navbar-brand" href="/homepage/index/"><%=image_tag("icecream.gif")%>Vanilla Blog</a>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
        	<% if user_signed_in? %><br>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%=current_user.user_name%><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'New Blogpost', new_blogpost_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'User Settings', edit_user_registration_path %></li>
          </ul>
        </li>
  			<% else %>
 				<%= link_to "Sign in",new_user_session_path %>
  			<% end %>
  		</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/homepage/about">About us</a></li>
            <li><a href="/homepage/contact/">Contact us</a></li>
              <% if user_signed_in? %>

                <li class="divider"></li>
                <li><%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button" %></li>

              <% end %>
              <li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</head>
<body>

<%= yield %>

</body>
</html>


